Repository 42wim/matterbridge, pull requests merged in 2020-12, with the labels that each got.

#1321 Add nil checks to mumble text message handling
  bridge/mumble/handlers.go
Labels: mumble

#1319 Refactor guild finding code (discord)
  bridge/discord/discord.go
Labels: discord

#1325 Make handlers run async (irc)
  bridge/irc/handlers.go
Labels: irc

#1326 Implement ratelimiting (matrix). Fixes #1238
  bridge/matrix/helpers.go
  bridge/matrix/matrix.go
Labels: matrix

#1327 Update rocketchat vendor
  go.mod
  go.sum
  vendor/github.com/matterbridge/Rocket.Chat.Go.SDK/realtime/client.go
  vendor/github.com/matterbridge/Rocket.Chat.Go.SDK/realtime/messages.go
  vendor/modules.txt
Labels: rocketchat

#1328 Mark messages as read (matrix). Fixes #1317
  bridge/matrix/matrix.go
Labels: matrix

#1329 Parse fencedcode in ParseMarkdown. Fixes #1127
  bridge/helper/helper.go
Labels: discord, matrix

#1333 nctalk: update go-nc-talk
  bridge/nctalk/nctalk.go
  go.mod
  go.sum
  vendor/github.com/monaco-io/request/build.go
  vendor/github.com/monaco-io/request/model.go
  vendor/gomod.garykim.dev/nc-talk/constants/constants.go
  vendor/gomod.garykim.dev/nc-talk/ocs/message.go
  vendor/gomod.garykim.dev/nc-talk/room/room.go
  vendor/gomod.garykim.dev/nc-talk/user/user.go
  vendor/modules.txt
Labels: nctalk

#1335 Update webhook documentation (discord)
  bridge/discord/discord.go
  matterbridge.toml.sample
Labels: discord

#1347 Refactor "msg-parent-not-found" to config.ParentIDNotFound
  bridge/config/config.go
  bridge/discord/discord.go
  bridge/mattermost/mattermost.go
  bridge/msteams/msteams.go
  bridge/slack/slack.go
  gateway/gateway.go
Labels: discord, mattermost, msteams, slack
