Repository 42wim/matterbridge, pull requests merged in 2021-02, with the labels that each got.

#1383 Pick up all the webhooks (discord)
  bridge/discord/transmitter/transmitter.go
Labels: discord

#1395 Handle Rocket.Chat attachments
  bridge/helper/helper.go
  bridge/rocketchat/handlers.go
Labels: rocketchat

#1405 Fix webhooks for channels with special characters
  bridge/xmpp/xmpp.go
Labels: xmpp
