Repository 42wim/matterbridge, pull requests merged in 2021-05, with the labels that each got.

#1438 Add possibility for using MxId/Token with Matrix
  bridge/config/config.go
  bridge/matrix/matrix.go
  matterbridge.toml.sample
Labels: matrix

#1475 [Whatsapp] handle document messages
  bridge/whatsapp/handlers.go
Labels: whatsapp

#1485 Rename .jpe files to .jpg Fixes #1463 (whatsapp)
  bridge/whatsapp/handlers.go
Labels: whatsapp

#1483 [whatsapp] fix crash on encountering VideoMessage
  bridge/whatsapp/handlers.go
Labels: whatsapp

#1488 [whatsapp] make DocumentMessage handler use FileName attribute.
  bridge/whatsapp/handlers.go
Labels: whatsapp

#1489 nctalk: support sending file URLs
  bridge/nctalk/nctalk.go
Labels: nctalk

#1496 matrix: content does not have body for redactions
  bridge/matrix/matrix.go
Labels: bug, matrix

#1499 Update irc references
  README.md
  matterbridge.toml.sample
Labels: irc
