Repository 42wim/matterbridge, pull requests merged in 2021-01, with the labels that each got.

#1349 Rename .oga audio files to .ogg (telegram)
  bridge/telegram/handlers.go
Labels: telegram

#1351 Improve Markdown in transmitter docs (discord)
  bridge/discord/transmitter/transmitter.go
Labels: discord, documentation

#1360 Add jpe as valid image filename extension for telegram
  bridge/telegram/handlers.go
Labels: telegram

#1362 Update README
  README.md
Labels: documentation

#1364 Allow the XMPP bridge to use slack compatible webhooks
  bridge/xmpp/xmpp.go
  matterbridge.toml.sample
Labels: xmpp

#1368 Add even more debug option (discord)
  bridge/discord/discord.go
Labels: discord
