Repository 42wim/matterbridge, pull requests merged in 2022-04, with the labels that each got.

#1791 Change discord non-native threading behaviour
  bridge/discord/discord.go
Labels: discord

#1792 Add whatsapp deprecation warning
  bridge/whatsapp/whatsapp.go
Labels: whatsapp

#1795 Clear existing IRC event handlers before connecting new ones
  bridge/irc/handlers.go
Labels: irc

#1803 Update matterbridge/gomatrix. Fixes #1772
  go.mod
  go.sum
  vendor/github.com/matterbridge/gomatrix/client.go
  vendor/modules.txt
Labels: matrix

#1802 Do not modify .webm files (telegram). Fixes #1788
  bridge/telegram/handlers.go
Labels: telegram

#1808 Telegram: Do not apply any markup to URL entities
  bridge/telegram/handlers.go
Labels: telegram

#1812 Fix UploadMessagesPhoto for vk community chat
  bridge/vk/vk.go
Labels: vk
