Repository 42wim/matterbridge, pull requests merged in 2022-02, with the labels that each got.

#1703 Telegram Bot Command /chatId
  bridge/telegram/handlers.go
Labels: telegram

#1677 Add support for sender_chat (telegram)
  bridge/telegram/handlers.go
Labels: telegram

#1709 Add support for deleting files from slack to discord. Fixes #1705
  bridge/config/config.go
  bridge/discord/discord.go
  bridge/helper/helper.go
  bridge/slack/handlers.go
  bridge/slack/slack.go
  gateway/gateway.go
Labels: discord, slack

#1710 Add support for client certificate (irc)
  bridge/irc/irc.go
  matterbridge.toml.sample
Labels: irc

#1713 Use own gomatrix fork again. Fixes #1382
  go.mod
  go.sum
  vendor/github.com/matrix-org/gomatrix/events.go
  vendor/modules.txt
Labels: matrix

#1712 Add more debug options for discord
  bridge/discord/discord.go
  bridge/discord/handlers.go
Labels: discord

#1714 Add UseUsername option (mattermost). Fixes #1665
  bridge/config/config.go
  bridge/mattermost/handlers.go
  matterbridge.toml.sample
Labels: mattermost

#1715 Add support for using ID in channel config (mattermost)
  bridge/mattermost/handlers.go
  bridge/mattermost/helpers.go
  bridge/mattermost/mattermost.go
  matterbridge.toml.sample
Labels: mattermost

#1716 Make HTMLDisable work correct (matrix)
  bridge/matrix/matrix.go
Labels: matrix

#1728 Make EditSuffix option actually work (whatsapp). Fixes #1510
  bridge/whatsapp/whatsapp.go
Labels: whatsapp
