Repository 42wim/matterbridge, pull requests merged in 2022-11, with the labels that each got.

#1920 Fix telegram attachment comment formatting and escaping
  bridge/telegram/handlers.go
Labels: telegram

#1897 Fix empty messages on IRC
  bridge/helper/helper.go
Labels: irc

#1890 Allow substitution of bot's nick in RunCommands
  bridge/irc/handlers.go
  matterbridge.toml.sample
Labels: irc

#1915 mumble: Implement sending of EventJoinLeave both to and from Mumble
  bridge/mumble/handlers.go
  bridge/mumble/mumble.go
  matterbridge.toml.sample
Labels: mumble

#1928 Improve attachment handling
  bridge/whatsappmulti/whatsapp.go
Labels: whatsapp
