Repository 42wim/matterbridge, pull requests merged in 2022-03, with the labels that each got.

#1749 Fix Telegram Problem (unforwarded formatting and skipping of linebreaks)
  bridge/telegram/handlers.go
Labels: telegram

#1753 Fix Telegram channel title in forwards
  bridge/telegram/handlers.go
Labels: telegram

#1759 Switch to discordgo upstream again
  bridge/discord/discord.go
  bridge/discord/handlers.go
  bridge/discord/handlers_test.go
  bridge/discord/helpers.go
  bridge/discord/transmitter/transmitter.go
  bridge/discord/transmitter/utils.go
  bridge/discord/webhook.go
  go.mod
  go.sum
  vendor/github.com/bwmarrin/discordgo/.gitignore
  vendor/github.com/bwmarrin/discordgo/.golangci.yml
  vendor/github.com/bwmarrin/discordgo/.travis.yml
  vendor/github.com/bwmarrin/discordgo/LICENSE
  vendor/github.com/bwmarrin/discordgo/README.md
  vendor/github.com/bwmarrin/discordgo/components.go
  vendor/github.com/bwmarrin/discordgo/discord.go
  vendor/github.com/bwmarrin/discordgo/endpoints.go
  vendor/github.com/bwmarrin/discordgo/event.go
  vendor/github.com/bwmarrin/discordgo/eventhandlers.go
  vendor/github.com/bwmarrin/discordgo/events.go
  vendor/github.com/bwmarrin/discordgo/interactions.go
  vendor/github.com/bwmarrin/discordgo/locales.go
  vendor/github.com/bwmarrin/discordgo/logging.go
  vendor/github.com/bwmarrin/discordgo/message.go
  vendor/github.com/bwmarrin/discordgo/mkdocs.yml
  vendor/github.com/bwmarrin/discordgo/oauth2.go
  vendor/github.com/bwmarrin/discordgo/ratelimit.go
  vendor/github.com/bwmarrin/discordgo/restapi.go
  vendor/github.com/bwmarrin/discordgo/state.go
  vendor/github.com/bwmarrin/discordgo/structs.go
  vendor/github.com/bwmarrin/discordgo/types.go
  vendor/github.com/bwmarrin/discordgo/user.go
  vendor/github.com/bwmarrin/discordgo/util.go
  vendor/github.com/bwmarrin/discordgo/voice.go
  vendor/github.com/bwmarrin/discordgo/webhook.go
  vendor/github.com/bwmarrin/discordgo/wsapi.go
  vendor/github.com/matterbridge/discordgo/.gitignore
  vendor/github.com/matterbridge/discordgo/discord.go
  vendor/github.com/matterbridge/discordgo/endpoints.go
  vendor/github.com/matterbridge/discordgo/interactions.go
  vendor/github.com/matterbridge/discordgo/structs.go
  vendor/github.com/matterbridge/discordgo/util.go
  vendor/modules.txt
Labels: discord

#1760 Fix panic in irc. Closes #1751
  bridge/irc/irc.go
Labels: irc

#1765 Fix for complex-formatted Telegram text
  bridge/telegram/handlers.go
Labels: telegram

#1764 Mumble: Implement a workaround to signal Opus support
  bridge/mumble/codec.go
  bridge/mumble/mumble.go
Labels: mumble

#1767 Refactor utf-8 conversion (irc)
  bridge/irc/charset.go
  bridge/irc/handlers.go
  go.mod
  go.sum
  vendor/github.com/missdeer/golib/LICENSE
  vendor/github.com/missdeer/golib/ic/convutf8.go
  vendor/github.com/missdeer/golib/ic/ic.go
  vendor/golang.org/x/text/encoding/unicode/override.go
  vendor/golang.org/x/text/encoding/unicode/unicode.go
  vendor/golang.org/x/text/internal/utf8internal/utf8internal.go
  vendor/modules.txt
Labels: irc

#1771 Remove go replace by fork (matrix)
  bridge/matrix/helpers.go
  bridge/matrix/matrix.go
  go.mod
  vendor/github.com/matterbridge/gomatrix/.gitignore
  vendor/github.com/matterbridge/gomatrix/.golangci.yml
  vendor/github.com/matterbridge/gomatrix/.travis.yml
  vendor/github.com/matterbridge/gomatrix/CHANGELOG.md
  vendor/github.com/matterbridge/gomatrix/LICENSE
  vendor/github.com/matterbridge/gomatrix/README.md
  vendor/github.com/matterbridge/gomatrix/client.go
  vendor/github.com/matterbridge/gomatrix/events.go
  vendor/github.com/matterbridge/gomatrix/filter.go
  vendor/github.com/matterbridge/gomatrix/identifier.go
  vendor/github.com/matterbridge/gomatrix/requests.go
  vendor/github.com/matterbridge/gomatrix/responses.go
  vendor/github.com/matterbridge/gomatrix/room.go
  vendor/github.com/matterbridge/gomatrix/store.go
  vendor/github.com/matterbridge/gomatrix/sync.go
  vendor/github.com/matterbridge/gomatrix/tags.go
  vendor/github.com/matterbridge/gomatrix/userids.go
  vendor/modules.txt
Labels: matrix

#1777 Use telegram first name and last name as user name
  bridge/telegram/handlers.go
  matterbridge.toml.sample
Labels: telegram

#1776 Preserve threading from telegram replies
  bridge/telegram/handlers.go
  bridge/telegram/telegram.go
  matterbridge.toml.sample
Labels: telegram

#1773 Update lrstanley/girc dep
  go.mod
  go.sum
  vendor/github.com/lrstanley/girc/README.md
  vendor/github.com/lrstanley/girc/builtin.go
  vendor/github.com/lrstanley/girc/cap.go
  vendor/github.com/lrstanley/girc/cap_sasl.go
  vendor/github.com/lrstanley/girc/conn.go
  vendor/github.com/lrstanley/girc/constants.go
  vendor/github.com/lrstanley/girc/event.go
  vendor/github.com/lrstanley/girc/handler.go
  vendor/modules.txt
Labels: irc

#1775 Use slack real name as user name
  bridge/slack/helpers.go
  matterbridge.toml.sample
Labels: slack

#1781 Slack: Preserve threading for messages with files
  bridge/slack/slack.go
Labels: slack

#1779 Telegram: Multiple media in one message
  bridge/telegram/handlers.go
  bridge/telegram/telegram.go
Labels: telegram
