Repository 42wim/matterbridge, pull requests merged in 2023-03, with the labels that each got.

#1970 Bugfix: handle messages with link preview not being relayed
  bridge/whatsappmulti/handlers.go
Labels: whatsapp

#1971 Bugfix: whatsappmulti prefer mp4 extension for video attachments
  bridge/whatsappmulti/handlers.go
Labels: whatsapp

#1974 Handle Whatsapp threading/replies
  bridge/whatsappmulti/handlers.go
  bridge/whatsappmulti/helpers.go
  bridge/whatsappmulti/whatsapp.go
Labels: whatsapp

#1998 Bugfix: Fix rate-overlimit issue when there are more than 5 whatsapp channels in a single account
  bridge/whatsappmulti/whatsapp.go
Labels: whatsapp

#1986 Support handling delete message from whatsapp
  bridge/whatsappmulti/handlers.go
Labels: whatsapp

#2010 Fix Android media download problem (Whatsapp)
  bridge/whatsappmulti/whatsapp.go
Labels: whatsapp

#2008 Add proper support for Mumble servers with no message length limit and fix not being able to embed from Mumble to other platforms
  bridge/mumble/handlers.go
  bridge/mumble/mumble.go
Labels: mumble

#2011 Add handlers at the end. Fixes #1988 (discord)
  bridge/discord/discord.go
Labels: discord

#2012 Check client disconnect to exit for loop (api). Fixes #1983
  bridge/api/api.go
  go.mod
  go.sum
  vendor/github.com/olahol/melody/.gitignore
  vendor/github.com/olahol/melody/CHANGELOG.md
  vendor/github.com/olahol/melody/LICENSE
  vendor/github.com/olahol/melody/README.md
  vendor/github.com/olahol/melody/config.go
  vendor/github.com/olahol/melody/doc.go
  vendor/github.com/olahol/melody/envelope.go
  vendor/github.com/olahol/melody/errors.go
  vendor/github.com/olahol/melody/hub.go
  vendor/github.com/olahol/melody/melody.go
  vendor/github.com/olahol/melody/session.go
  vendor/gopkg.in/olahol/melody.v1/.travis.yml
  vendor/gopkg.in/olahol/melody.v1/README.md
  vendor/modules.txt
Labels: api

#2013 Set correct loglevel (whatsapp). Fixes #1980
  bridge/whatsappmulti/handlers.go
Labels: whatsapp

#2014 Fix possible panic in mattermost. (mattermost) Fixes #1947
  bridge/mattermost/mattermost.go
Labels: mattermost

#2015 Add extra error checking for fileinfo (api)
  bridge/api/api.go
  go.mod
Labels: api

#1942 Telegram topics
  bridge/telegram/handlers.go
  bridge/telegram/telegram.go
  go.mod
  go.sum
  vendor/github.com/matterbridge/telegram-bot-api/v6/.gitignore
  vendor/github.com/matterbridge/telegram-bot-api/v6/LICENSE.txt
  vendor/github.com/matterbridge/telegram-bot-api/v6/README.md
  vendor/github.com/matterbridge/telegram-bot-api/v6/book.toml
  vendor/github.com/matterbridge/telegram-bot-api/v6/bot.go
  vendor/github.com/matterbridge/telegram-bot-api/v6/configs.go
  vendor/github.com/matterbridge/telegram-bot-api/v6/helpers.go
  vendor/github.com/matterbridge/telegram-bot-api/v6/log.go
  vendor/github.com/matterbridge/telegram-bot-api/v6/params.go
  vendor/github.com/matterbridge/telegram-bot-api/v6/passport.go
  vendor/github.com/matterbridge/telegram-bot-api/v6/types.go
  vendor/modules.txt
Labels: telegram

#2017 Whatsapp: Support topic changes and Join/Leave messages
  bridge/whatsappmulti/handlers.go
  bridge/whatsappmulti/helpers.go
Labels: whatsapp
